.line-child,
.line-child1,
.line-inner,
.line-item,
.rectangle-div {
  position: absolute;
  height: 99.67%;
  width: 0.06%;
  top: 0.33%;
  right: 0;
  bottom: 0;
  left: 99.94%;
  background: linear-gradient(#e9ebff, #e9ebff),
    linear-gradient(#e9ebff, #e9ebff), #e9ebff;
}
.line-child1,
.line-inner,
.line-item,
.rectangle-div {
  right: 25.58%;
  left: 74.36%;
}
.line-child1,
.line-inner,
.rectangle-div {
  top: 0;
  right: 49.63%;
  bottom: 0.33%;
  left: 50.3%;
}
.line-child1,
.rectangle-div {
  right: 75.82%;
  left: 24.12%;
}
.line-child1 {
  top: 0.16%;
  right: 99.94%;
  bottom: 0.16%;
  left: 0;
}
.line,
.logo-icon {
  position: absolute;
  top: -17px;
  left: 150px;
  width: 1642px;
  height: 6069.1px;
}
.logo-icon {
  height: 30.42%;
  width: 16.6%;
  top: 0;
  right: 83.4%;
  bottom: 69.58%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.join-with-us {
  margin: 0;
}
.join-with-us-container {
  position: absolute;
  top: 97.3px;
  left: 2px;
  font-size: 17px;
  line-height: 25px;
  display: inline-block;
  width: 423px;
}
.supporthirewalkscom {
  position: absolute;
  top: 56.3px;
  left: 30px;
  font-weight: 800;
}
.email-black-24dp-2-icon {
  position: absolute;
  height: 17.14%;
  width: 5.67%;
  top: 42.36%;
  right: 94.33%;
  bottom: 40.5%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div {
  position: absolute;
  top: 15.3px;
  left: 30px;
  font-weight: 800;
}
.call-black-24dp-1-icon {
  position: absolute;
  height: 17.14%;
  width: 5.67%;
  top: 11.64%;
  right: 94.8%;
  bottom: 71.21%;
  left: -0.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.about,
.hirewalks {
  position: absolute;
  top: 95.7px;
  left: 0;
  width: 423px;
  height: 140px;
}
.hirewalks {
  top: 49px;
  left: -163px;
  height: 235.7px;
  font-size: 18px;
  color: #b8c1ce;
}
.jobs-by-location1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 32px;
  font-weight: 800;
  display: inline-block;
  width: 200px;
}
.jobs-in-bangalore-container {
  position: absolute;
  top: 42px;
  left: 0;
  font-size: 16px;
  line-height: 39px;
  color: #b8c1ce;
}
.jobs-by-industry,
.jobs-by-location {
  position: absolute;
  top: 55px;
  left: 653px;
  width: 200px;
  height: 237px;
}
.jobs-by-industry {
  left: 941px;
  width: 286px;
}
.footer1,
.information,
.jobs-by-companies {
  position: absolute;
  top: 55px;
  left: 1303px;
  width: 200px;
  height: 276px;
}
.footer1,
.information {
  left: 373px;
}
.footer1 {
  top: 0;
  left: 300px;
  width: 1320px;
  height: 384px;
}
.hirewalks-all-rights {
  position: absolute;
  top: 24px;
  left: 148px;
  line-height: 20px;
}
.vector-icon {
  position: absolute;
  height: 100%;
  width: 7.69%;
  top: 0;
  right: 92.31%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instagram-1-icon,
.twitter-1-icon,
.youtube-1-icon {
  position: absolute;
  top: 0;
  left: 30px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.instagram-1-icon,
.twitter-1-icon {
  left: 70px;
}
.twitter-1-icon {
  left: 110px;
}
.social-media {
  position: absolute;
  top: 24px;
  left: 1642px;
  width: 130px;
  height: 20px;
}
.copy-right,
.footer {
  position: absolute;
  left: 0;
  background-color: #080e5c;
  width: 1920px;
}
.copy-right {
  top: 384px;
  box-shadow: 0 1px 0#141c79 inset;
  height: 68px;
  font-size: 18px;
  color: #b8c1ce;
}
.footer {
  top: 5692px;
  height: 452px;
  font-size: 20px;
}
.join-with-us1 {
  position: absolute;
  top: 154px;
  left: 638px;
  display: flex;
  align-items: flex-end;
  width: 794px;
}
.what-our-client {
  position: absolute;
  top: 91px;
  left: 781.5px;
  font-size: 40px;
  font-weight: 900;
  color: #080f5e;
}
.quote-mark-icon-1,
.square-pattern-blue-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 119px;
  height: 118px;
  overflow: hidden;
}
.quote-mark-icon-1 {
  top: 192px;
  left: 438px;
  width: 67.2px;
  height: 47.3px;
  object-fit: contain;
}
.quote-mark-icon {
  position: absolute;
  top: 110px;
  left: 0;
  width: 67px;
  height: 47px;
  overflow: hidden;
}
.image-icon,
.robert-fox {
  position: absolute;
  top: 0;
  left: 0;
}
.image-icon {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.robert-fox {
  line-height: 24px;
  font-weight: 800;
}
.infosys-technologies {
  position: absolute;
  top: 30px;
  left: 0;
  font-size: 16px;
  line-height: 20px;
  color: #242853;
  text-align: left;
}
.info {
  position: absolute;
  top: 9.2px;
  left: 82px;
  width: 116px;
  height: 48px;
}
.customer {
  top: 4.8px;
  width: 185px;
  height: 57px;
}
.bottom,
.customer,
.rating-icon {
  position: absolute;
  left: 0;
}
.bottom {
  top: 0;
  width: 481px;
  height: 67px;
  text-align: center;
  font-size: 22px;
  color: #080f5e;
}
.rating-icon {
  top: 100px;
  width: 118px;
  height: 22px;
}
.increasing-productivity-and,
.quick-easy {
  position: absolute;
  top: 151px;
  left: 3px;
  line-height: 24px;
  display: inline-block;
  width: 458px;
}
.quick-easy {
  top: 122px;
  font-weight: 800;
}
.top {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 439px;
  height: 254px;
}
.testimonial-card {
  position: absolute;
  top: 0;
  left: -49px;
  border-radius: 24px;
  background-color: #fff7ea;
  width: 524px;
  height: 279px;
}
.quote-mark-icon1 {
  position: absolute;
  top: 115px;
  left: 0;
  width: 67px;
  height: 47px;
  overflow: hidden;
}
.testimonial-card1,
.testimonial-card2 {
  position: absolute;
  top: 0;
  left: 515px;
  border-radius: 24px;
  background-color: #eef7ff;
  width: 524px;
  height: 279px;
}
.testimonial-card2 {
  left: 1080px;
  background-color: #fdeff1;
}
.testimonial2 {
  position: absolute;
  top: 32px;
  left: 48px;
  border-radius: 15px;
  width: 510px;
  height: 296px;
}
.testimonial1 {
  position: absolute;
  top: 213px;
  left: 147px;
  width: 558px;
  height: 328px;
  font-size: 15px;
}
.icon-button,
.icon-button1 {
  position: absolute;
  top: 560px;
  width: 48px;
  height: 48px;
}
.icon-button {
  left: 903px;
  border-radius: 49px;
  object-fit: contain;
}
.icon-button1 {
  left: 969px;
  border-radius: 50px;
}
.div1 {
  top: 0;
  left: 0;
  border-radius: 32px;
  background: linear-gradient(180deg, #e83251, #e9456d);
  opacity: 0.2;
}
.div1,
.div2,
.div3 {
  position: absolute;
  width: 10px;
  height: 10px;
}
.div2 {
  top: 0;
  left: -4022px;
  border-radius: 32px;
  background-color: #99c2ff;
  display: none;
}
.div3 {
  left: 18px;
  opacity: 0.2;
}
.div3,
.div4,
.div5 {
  top: 0;
  border-radius: 32px;
  background: linear-gradient(180deg, #e83251, #e9456d);
}
.div4 {
  position: absolute;
  left: 36px;
  width: 24px;
  height: 10px;
}
.div5 {
  left: 68px;
  width: 10px;
  opacity: 0.2;
}
.div5,
.div6,
.div7,
.tracker {
  position: absolute;
  height: 10px;
}
.div6 {
  top: 0;
  left: 86px;
  border-radius: 32px;
  background: linear-gradient(180deg, #e83251, #e9456d);
  width: 10px;
  opacity: 0.2;
}
.div7,
.tracker {
  display: none;
}
.div7 {
  top: 0;
  left: -3986px;
  border-radius: 32px;
  background-color: #99c2ff;
  width: 10px;
}
.tracker {
  top: 801px;
  left: 974px;
  width: 96px;
}
.testimonial {
  position: absolute;
  top: 4975px;
  left: 2px;
  width: 1920px;
  height: 678px;
  font-size: 27px;
  color: #242853;
}
.download-app-child {
  position: absolute;
  top: 0;
  left: -245px;
  border-radius: 50px;
  background-color: #f4f5fe;
  width: 2315px;
  height: 587px;
  display: none;
}
.logo-icon1,
.vector-icon1 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1 {
  height: 128.4%;
  width: 148.89%;
  top: -39.86%;
  right: -45.51%;
  bottom: 11.47%;
  left: -3.38%;
  object-fit: contain;
  opacity: 0.12;
}
.logo-icon1 {
  height: 13.38%;
  width: 4.68%;
  top: 48.82%;
  right: 35.15%;
  bottom: 37.8%;
  left: 60.17%;
}
.phone-icon {
  position: absolute;
  top: -40px;
  left: 1178px;
  width: 485px;
  height: 588px;
  display: none;
}
.image-155-icon {
  position: absolute;
  top: 437px;
  left: 77px;
  width: 171px;
  height: 50px;
  object-fit: cover;
}
.available-for-both,
.join-our-50 {
  position: absolute;
  top: 333px;
  left: 82px;
  font-size: 27px;
  display: flex;
  align-items: flex-end;
  width: 929px;
}
.join-our-50 {
  top: 283px;
}
.download-hirewalks-app {
  position: absolute;
  top: 206px;
  left: 82px;
  font-weight: 900;
  color: #080f5e;
}
.logo-icon2 {
  position: absolute;
  height: 20%;
  width: 6.99%;
  top: 7.6%;
  right: 88.06%;
  bottom: 72.4%;
  left: 4.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.image-154-icon,
.image-156-icon {
  position: absolute;
  top: 408px;
  left: 487px;
  width: 108px;
  height: 108px;
  object-fit: cover;
}
.image-156-icon {
  top: 438px;
  left: 268px;
  width: 168px;
  height: 48px;
}
.characters-icon {
  position: absolute;
  height: 37.16%;
  width: 11.77%;
  top: 61.99%;
  right: 41.52%;
  bottom: 0.84%;
  left: 46.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.app-child {
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 50px 50px 0 0;
  background-color: #fff;
  border-top: 10px solid #0c125e;
  border-right: 10px solid #0c125e;
  border-left: 10px solid #0c125e;
  box-sizing: border-box;
  width: 366px;
  height: 583px;
}
.line-icon {
  position: absolute;
  height: 182.21%;
  width: 179.97%;
  top: -41.35%;
  right: -4.04%;
  bottom: -40.87%;
  left: -75.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  opacity: 0.16;
  mix-blend-mode: soft-light;
}
.vector-icon2 {
  position: absolute;
  top: 14px;
  left: 270px;
  width: 14px;
  height: 18px;
}
.logo-icon3,
.ux-research {
  position: absolute;
  top: 0;
  left: 0;
}
.logo-icon3 {
  width: 48px;
  height: 48px;
}
.ux-research {
  letter-spacing: 0.01em;
  line-height: 24px;
  font-weight: 800;
}
.google-llc {
  position: absolute;
  top: 28px;
  left: 0;
  font-size: 14px;
  line-height: 17px;
}
.frame-icon {
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.div8,
.frame-icon,
.rating {
  position: absolute;
}
.div8 {
  top: 0.5px;
  left: 19px;
  line-height: 141%;
  font-weight: 800;
}
.rating {
  top: 27px;
  left: 82px;
  width: 36px;
  height: 18px;
  text-align: justify;
  font-size: 13px;
}
.container4 {
  position: absolute;
  top: 1px;
  left: 62px;
  width: 153px;
  height: 67px;
}
.container2,
.container3,
.location-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 248px;
  height: 48px;
}
.container2,
.location-icon {
  top: 16px;
  left: 16px;
}
.location-icon {
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.years {
  position: absolute;
  top: 0;
  left: 28px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 69px;
}
.container6 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 101px;
  height: 24px;
}
.container5 {
  top: 69px;
  left: 16px;
  width: 248px;
  height: 28px;
}
.container5,
.divider,
.lakh {
  position: absolute;
}
.lakh {
  top: 69px;
  left: 206px;
  font-size: 17px;
  letter-spacing: -0.01em;
  line-height: 28px;
  font-weight: 800;
}
.divider {
  top: 107.5px;
  left: 15.5px;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  box-sizing: border-box;
  width: 285px;
  height: 1px;
}
.kochi-kerala-india {
  position: absolute;
  top: 0;
  left: 23px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 151px;
}
.vector-icon3 {
  position: absolute;
  height: 71.67%;
  width: 7.64%;
  top: 14.17%;
  right: 92.36%;
  bottom: 14.17%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.layer-71,
.vector-icon4 {
  position: absolute;
  top: 0;
  left: 4px;
  width: 174px;
  height: 24px;
}
.vector-icon4 {
  height: 58.33%;
  width: 5.65%;
  top: 20.83%;
  right: 6.94%;
  bottom: 20.83%;
  left: 87.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.container7,
.days {
  position: absolute;
  top: 120px;
}
.container7 {
  left: 16px;
  width: 248px;
  height: 24px;
}
.days {
  left: 244px;
  line-height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
}
.container1 {
  position: absolute;
  top: -20.4px;
  left: -2px;
  border-radius: 16px;
  background-color: #141a66;
  width: 314px;
  height: 208px;
}
.image-30-icon {
  position: absolute;
  top: 0;
  left: 1px;
  border-radius: 5px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.uiux-designer {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.01em;
  line-height: 24px;
  font-weight: 800;
  color: #000a28;
}
.vector-icon6 {
  position: absolute;
  height: 67.22%;
  width: 35%;
  top: 10%;
  right: 60.56%;
  bottom: 22.78%;
  left: 4.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.container10 {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 248px;
  height: 48px;
  font-size: 17px;
  color: #545454;
}
.full-time {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.badge,
.badge1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
}
.badge1 {
  left: 83px;
}
.container13 {
  position: absolute;
  top: 166px;
  left: 16px;
  width: 248px;
  height: 28px;
  color: #1a1d1e;
  font-family: Urbanist;
}
.vector-icon7 {
  position: absolute;
  height: 62.5%;
  width: 14.85%;
  top: 16.67%;
  right: 81.88%;
  bottom: 20.83%;
  left: 3.27%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.years1 {
  position: absolute;
  top: 1px;
  left: 28px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 69px;
}
.container14 {
  position: absolute;
  top: 77px;
  left: 16px;
  width: 248px;
  height: 28px;
  font-size: 15px;
}
.lakh1 {
  position: absolute;
  top: 113.4px;
  left: 19px;
  font-size: 17px;
  letter-spacing: -0.01em;
  line-height: 28px;
  font-weight: 800;
}
.divider1 {
  position: absolute;
  top: 152.5px;
  left: 15.5px;
  border-top: 1px solid #e9edf0;
  box-sizing: border-box;
  width: 292px;
  height: 1px;
}
.layer-711,
.vector-icon9 {
  position: absolute;
  top: 0;
  left: 9px;
  width: 174px;
  height: 24px;
}
.vector-icon9 {
  height: 58.33%;
  width: 5.65%;
  top: 391.67%;
  right: 52.9%;
  bottom: -350%;
  left: 41.45%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.container16 {
  position: absolute;
  top: 79px;
  left: 139px;
  width: 248px;
  height: 24px;
}
.days1 {
  position: absolute;
  top: 168px;
  left: 252px;
  line-height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
}
.container9 {
  position: absolute;
  top: 0;
  left: 2px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 2px 2px 7px rgba(10, 13, 23, 0.05);
  border: 1px solid #e9edf0;
  box-sizing: border-box;
  width: 315px;
  height: 208px;
}
.container8 {
  position: absolute;
  top: -20px;
  left: 317px;
  width: 1035px;
  height: 213px;
  display: none;
  font-size: 14px;
  color: #000a28;
}
.container {
  position: absolute;
  top: 326px;
  left: 24px;
  width: 322px;
  height: 157px;
}
.view-all {
  position: absolute;
  top: 11px;
  left: 260px;
  font-size: 14px;
  font-weight: 800;
  background: linear-gradient(180deg, #e83251, #e9456d);
  -webkit-background-clip: text;
  background-clip: text; /* standard property */
  color: transparent;
}
.top-companies-parent {
  position: absolute;
  top: -31px;
  left: 0;
  width: 359px;
  height: 44px;
  text-align: left;
  font-size: 20px;
  color: #141a66;
}
.facebook-inc {
  position: absolute;
  top: 58px;
  left: calc(50% - 83.5px);
  font-size: 15px;
  line-height: 120%;
  font-weight: 800;
  display: inline-block;
  width: 175px;
  height: 22px;
}
.image-8-icon {
  position: absolute;
  top: 12px;
  left: 75px;
  width: 37px;
  height: 37px;
  object-fit: cover;
}
.div10 {
  position: absolute;
  top: 0;
  left: 19.2px;
  line-height: 141%;
}
.vector-icon10 {
  position: absolute;
  height: 65.95%;
  width: 11.74%;
  top: 8.65%;
  right: 88.26%;
  bottom: 25.41%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.jobs1 {
  position: absolute;
  top: 0.5px;
  left: 58.2px;
  line-height: 141%;
}
.jobs,
.jobs-child {
  position: absolute;
  top: 3.5px;
  left: 48.2px;
  width: 1px;
  height: 11px;
}
.jobs {
  top: 83.5px;
  left: 38.8px;
  width: 108.2px;
  height: 18.5px;
  text-align: justify;
  color: #979797;
}
.foreign-mnc {
  position: relative;
  line-height: 110%;
  font-weight: 800;
  opacity: 0.8;
}
.foreign-mnc-wrapper {
  position: absolute;
  top: 139px;
  left: 45px;
  border-radius: 5px;
  background-color: #fff4de;
  width: 93px;
  height: 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 15px;
  box-sizing: border-box;
  text-align: right;
  font-size: 11px;
  color: #eaa00c;
}
.kochi-kerala-india1 {
  position: absolute;
  top: 1.6px;
  left: 8px;
  line-height: 12px;
  display: inline-block;
  width: 129.7px;
  height: 13.8px;
}
.vector-icon11 {
  position: absolute;
  height: 86.36%;
  width: 7.48%;
  top: 0;
  right: 92.52%;
  bottom: 13.64%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.container17,
.location {
  position: absolute;
  top: 113px;
  left: 31px;
  width: 137.7px;
  height: 15.4px;
}
.container17 {
  top: 30px;
  left: 60px;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #dadefe;
  box-sizing: border-box;
  width: 183px;
  height: 151px;
}
.uber-technologies {
  position: absolute;
  top: 58px;
  left: calc(50% - 76.5px);
  font-size: 15px;
  line-height: 120%;
  font-weight: 800;
  display: inline-block;
  width: 175px;
  height: 22px;
}
.image-5-icon {
  position: absolute;
  top: 12px;
  left: 75px;
  border-radius: 23px;
  width: 37px;
  height: 37px;
  object-fit: cover;
}
.container18 {
  position: absolute;
  top: 30px;
  left: 257px;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #dadefe;
  box-sizing: border-box;
  width: 183px;
  height: 151px;
}
.image-3-icon {
  position: absolute;
  top: 13px;
  left: 76px;
  border-radius: 4px;
  width: 34px;
  height: 34px;
  object-fit: cover;
}
.container19 {
  position: absolute;
  top: 30px;
  left: -137px;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #dadefe;
  box-sizing: border-box;
  width: 183px;
  height: 151px;
}
.top-companies {
  position: absolute;
  top: 50px;
  left: 17px;
  width: 359px;
  height: 186px;
  text-align: center;
  font-size: 13px;
  color: #1a1d1e;
}
.immediately-hiring {
  position: absolute;
  top: 8px;
  left: 2px;
  font-weight: 800;
}
.app,
.immediately-hiring-parent {
  position: absolute;
  top: 253px;
  left: 17px;
  width: 359px;
  height: 44px;
  font-size: 20px;
  color: #141a66;
}
.app {
  top: 83px;
  left: 976px;
  width: 361px;
  height: 573px;
  font-size: 16px;
  color: #fff;
}
.reviews-child {
  position: absolute;
  top: 0;
  left: -5px;
  border-radius: 25px;
  background-color: #ebedfa;
  width: 373px;
  height: 131px;
}
.div13 {
  position: absolute;
  top: 10px;
  left: 84px;
  font-weight: 900;
}
.star-black-24dp-1-icon {
  position: absolute;
  top: 15px;
  left: 30px;
  width: 46px;
  height: 46px;
  overflow: hidden;
}
.reviews1 {
  position: absolute;
  top: 66px;
  left: 34px;
  font-size: 21px;
  font-weight: 800;
}
.download-child,
.reviews {
  position: absolute;
  height: 131px;
}
.reviews {
  top: 181px;
  left: 1467px;
  border-radius: 50px 0 0 0;
  width: 229px;
  color: #141a66;
}
.download-child {
  top: 0;
  left: 0;
  border-radius: 25px;
  background-color: #eaedfa;
  width: 373px;
}
.k {
  position: absolute;
  top: 13px;
  left: 96px;
  font-weight: 900;
}
.phone-android-black-24dp-1-icon {
  position: absolute;
  height: 32.06%;
  width: 11.26%;
  top: 15.27%;
  right: 78.28%;
  bottom: 52.67%;
  left: 10.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.app-downloads {
  position: absolute;
  top: 73px;
  left: 51px;
  font-size: 21px;
  font-weight: 800;
}
.download,
.download-app {
  position: absolute;
  top: 348px;
  left: 1423px;
  width: 373px;
  height: 131px;
  color: #141a66;
}
.download-app {
  top: 4329px;
  left: 137px;
  border-radius: 50px;
  background-color: #f4f5fe;
  width: 1657px;
  height: 592px;
  overflow: hidden;
  font-size: 40px;
  color: #242853;
}
.search-and-connect {
  position: absolute;
  top: 64px;
  left: 525px;
  font-size: 27px;
  color: #242853;
}
.popular-category1 {
  position: absolute;
  top: 0;
  left: 665px;
  font-size: 40px;
  font-weight: 900;
  color: #080f5e;
}
.child,
.item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  width: 297px;
  height: 360px;
}
.child {
  object-fit: cover;
}
.item {
  background: linear-gradient(
    180deg,
    rgba(13, 19, 97, 0),
    rgba(7, 10, 56, 0.78)
  );
}
.finance,
.jobs-available {
  position: absolute;
  top: 296px;
  left: 29px;
}
.finance {
  top: 262px;
  left: 28px;
  font-weight: 900;
}
.div14,
.div15,
.div16,
.div17,
.div18 {
  position: absolute;
  top: 161px;
  left: 7px;
  width: 297px;
  height: 360px;
}
.div15,
.div16,
.div17,
.div18 {
  left: 346px;
}
.div16,
.div17,
.div18 {
  left: 683px;
}
.div17,
.div18 {
  left: 1017px;
}
.div18 {
  left: 1353px;
}
.icon-button2,
.icon-button3 {
  position: absolute;
  top: 317px;
  width: 48px;
  height: 48px;
}
.icon-button2 {
  left: -17px;
  border-radius: 49px;
  object-fit: contain;
}
.icon-button3 {
  left: 1626px;
  border-radius: 50px;
}
.popular-category {
  position: absolute;
  top: 3681px;
  left: 132px;
  width: 1650px;
  height: 522px;
  font-size: 22px;
}
.walk-in-with-us-to-get-hired-child {
  position: absolute;
  top: -17px;
  left: -76px;
  background-color: #f4f5fe;
  width: 2065px;
  height: 817px;
}
.find-your-dreamtop {
  position: absolute;
  top: 145px;
  left: 140px;
  font-size: 25px;
  color: #242853;
}
.walk-in-with {
  position: absolute;
  top: 79px;
  left: 139px;
  font-size: 40px;
  font-weight: 900;
}
.vector-icon16,
.vector-icon17 {
  position: absolute;
  height: 3.04%;
  width: 1.54%;
  top: 12.58%;
  right: 9.89%;
  bottom: 84.38%;
  left: 88.58%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  display: none;
}
.vector-icon17 {
  height: 3.07%;
  width: 1.55%;
  top: 12.56%;
  right: 7.28%;
  bottom: 84.36%;
  left: 91.16%;
}
.employers-logo-icon,
.icon-button4,
.icon-button5 {
  position: absolute;
  top: 120px;
  width: 48px;
  height: 48px;
}
.icon-button4 {
  left: 1682px;
  border-radius: 49px;
  object-fit: contain;
}
.employers-logo-icon,
.icon-button5 {
  left: 1748px;
  border-radius: 50px;
}
.employers-logo-icon {
  top: -10px;
  left: -9px;
  border-radius: 12px;
}
.google-inc {
  position: absolute;
  top: -8px;
  left: -6px;
  line-height: 24px;
  display: inline-block;
  width: 281px;
}
.lakh2 {
  top: 4px;
  left: 198px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 800;
}
.days2,
.info3,
.lakh2 {
  position: absolute;
}
.info3 {
  top: 0;
  left: 60px;
  width: 281px;
  height: 72px;
}
.days2 {
  top: 15px;
  left: 59px;
  font-size: 13px;
  line-height: 24px;
  color: #bbbdd3;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
}
.vector-icon18 {
  position: absolute;
  height: 22.73%;
  width: 2.75%;
  top: 50%;
  right: 81.82%;
  bottom: 27.27%;
  left: 15.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.company {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 363px;
  height: 44px;
}
.techical-support-specialist {
  position: absolute;
  top: -3px;
  left: 0;
  line-height: 28px;
  font-weight: 800;
  display: inline-block;
  width: 377px;
}
.bookmarksimple-icon {
  position: absolute;
  height: 33.87%;
  width: 5.57%;
  top: -6.45%;
  right: 0;
  bottom: 72.58%;
  left: 94.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.container20,
.heading {
  position: absolute;
  top: 79px;
  left: 18px;
  width: 377px;
  height: 62px;
}
.container20 {
  top: 108px;
  left: 16px;
  width: 248px;
  height: 28px;
  font-size: 15px;
}
.layer-71-icon {
  position: absolute;
  height: 60.83%;
  width: 4.56%;
  top: 20.83%;
  right: 91.41%;
  bottom: 18.33%;
  left: 4.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chennaikeralabangalore {
  position: absolute;
  top: 0;
  left: 35px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 193px;
}
.container22 {
  position: absolute;
  top: 110px;
  left: 193px;
  width: 248px;
  height: 24px;
  font-size: 14px;
}
.job {
  position: absolute;
  top: 254px;
  left: 140px;
  border-radius: 17px;
  background-color: #fff;
  box-shadow: 0 2px 18px rgba(24, 25, 28, 0.03);
  border: 1px solid #eaedfa;
  box-sizing: border-box;
  width: 407px;
  height: 152px;
}
.employers-logo-icon1 {
  position: absolute;
  top: -10px;
  left: -9px;
  border-radius: 12px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.job1,
.job2,
.job3,
.job4,
.job5 {
  position: absolute;
  top: 254px;
  left: 562px;
  border-radius: 17px;
  background-color: #fff;
  box-shadow: 0 2px 18px rgba(24, 25, 28, 0.03);
  border: 1px solid #eaedfa;
  box-sizing: border-box;
  width: 407px;
  height: 152px;
}
.job2,
.job3,
.job4,
.job5 {
  left: 985px;
}
.job3,
.job4,
.job5 {
  left: 1417px;
}
.job4,
.job5 {
  top: 436px;
  left: 140px;
}
.job5 {
  left: 562px;
}
.image-162-icon {
  position: absolute;
  top: -10px;
  left: -9px;
  border-radius: 10px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.job6 {
  position: absolute;
  top: 436px;
  left: 985px;
  border-radius: 17px;
  background-color: #fff;
  box-shadow: 0 2px 18px rgba(24, 25, 28, 0.03);
  border: 1px solid #eaedfa;
  box-sizing: border-box;
  width: 407px;
  height: 152px;
}
.uihtmlcss-developer-freshe {
  position: absolute;
  top: -4px;
  left: 0;
  line-height: 28px;
  font-weight: 800;
  display: inline-block;
  width: 377px;
}
.job7 {
  position: absolute;
  top: 436px;
  left: 1417px;
  border-radius: 17px;
  background-color: #fff;
  box-shadow: 0 2px 18px rgba(24, 25, 28, 0.03);
  border: 1px solid #eaedfa;
  box-sizing: border-box;
  width: 407px;
  height: 152px;
}
.walk-in-with-us-to-get-hired-item {
  position: absolute;
  height: 9.3%;
  width: 11.01%;
  top: 97.3%;
  right: 39.06%;
  bottom: -6.6%;
  left: 49.93%;
  border-radius: 15px;
  border: 1px solid #252b72;
  box-sizing: border-box;
}
.join-hire-walks {
  position: absolute;
  top: 667.9px;
  left: 999.7px;
  font-weight: 900;
  color: #252b72;
}
.walk-in-with-us-to-get-hired-inner {
  position: absolute;
  height: 9.3%;
  width: 9.4%;
  top: 97.3%;
  right: 51.56%;
  bottom: -6.6%;
  left: 39.04%;
  border-radius: 15px;
  background: linear-gradient(180deg, #e83251, #e9456d);
}
.search-jobs {
  position: absolute;
  top: 667.9px;
  left: 787.7px;
  font-weight: 900;
  color: #fff;
}
.walk-in-with-us-to-get-hired {
  position: absolute;
  top: 2781px;
  left: calc(50% - 963px);
  width: 1926px;
  height: 667px;
  color: #080f5e;
}
.walk-in-with-us-to-get-hired-child1 {
  position: absolute;
  top: -17px;
  left: -76px;
  background-color: #f4f5fe;
  width: 2065px;
  height: 982px;
}
.walk-in-with1 {
  position: absolute;
  top: 79px;
  left: 139px;
  font-size: 40px;
  font-weight: 900;
  color: #080f5e;
}

.div19,
.div20 {
  top: 330px;
  width: 384px;
  height: 443px;
}
.div19 {
  position: absolute;
  left: calc(50% - 823px);
  background-color: #fff;
}
.div20 {
  left: calc(50% + 58px);
}
.child13,
.div20,
.div21 {
  position: absolute;
  background-color: #fff;
}
.div21 {
  top: 330px;
  left: calc(50% + 459px);
  width: 384px;
  height: 443px;
}
.child13 {
  height: 11.09%;
  width: 35.9%;
  top: 27.91%;
  right: 32.48%;
  bottom: 61%;
  left: 31.62%;
}
.d-ago3 {
  position: absolute;
  top: 101px;
  left: 193px;
  font-size: 26px;
  font-weight: 800;
  color: #0d1361;
}
.apply-now6 {
  top: 361.3px;
  left: 183.5px;
  font-size: 14px;
}
.apply-now6,
.oraiyan-groups3,
.team-leader3 {
  position: absolute;
  font-weight: 900;
}
.oraiyan-groups3 {
  top: 222px;
  left: 148px;
  font-size: 23px;
  color: #e93c60;
}
.team-leader3 {
  top: 167px;
  left: 129px;
  font-size: 35px;
}
.child14 {
  position: absolute;
  height: 12.2%;
  width: 44.23%;
  top: 64.7%;
  right: 29.91%;
  bottom: 23.11%;
  left: 25.85%;
  border-radius: 15px;
  background: linear-gradient(180deg, #e83251, #e9456d);
}
.apply-now7 {
  position: absolute;
  top: 367px;
  left: 173px;
  font-size: 19px;
  font-weight: 900;
}
.amanpur3,
.yrs3 {
  position: absolute;
  top: 284px;
  left: 293px;
}
.yrs3 {
  left: 123px;
}
.business-1-icon3,
.location-1-icon3 {
  position: absolute;
  top: 286px;
  left: 92px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.location-1-icon3 {
  left: 264px;
}
.div22 {
  position: absolute;
  top: 281px;
  left: calc(50% - 422px);
  background-color: #0d1361;
  width: 468px;
  height: 541px;
}
.vector-icon34 {
  height: 3.04%;
  width: 1.54%;
  top: 15.63%;
  right: 8.35%;
  bottom: 81.33%;
  left: 90.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.icon-button6,
.vector-icon34,
.vector-icon35 {
  position: absolute;
  object-fit: contain;
}
.vector-icon35 {
  height: 3.08%;
  width: 1.55%;
  top: 12.57%;
  right: 7.26%;
  bottom: 84.35%;
  left: 91.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.icon-button6 {
  top: 120px;
  left: 1730px;
  border-radius: 49px;
  width: 48px;
  height: 48px;
}
.walk-in-with-us-to-get-hired1 {
  position: absolute;
  top: 2781px;
  left: calc(50% - 963px);
  width: 1926px;
  height: 947px;
  display: none;
  font-size: 20px;
}
.vector-icon36 {
  position: absolute;
  height: 184.52%;
  width: 156.67%;
  top: -50.54%;
  right: -49.69%;
  bottom: -33.98%;
  left: -6.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  opacity: 0.12;
}
.connecting-people-optimizing {
  position: absolute;
  top: 102px;
  left: 431px;
  display: flex;
  align-items: flex-end;
  width: 794px;
}
.div23,
.startups-who-used {
  position: absolute;
  font-weight: 900;
}
.startups-who-used {
  top: 32px;
  left: calc(50% - 344px);
  font-size: 42px;
}
.div23 {
  top: -23px;
  left: calc(50% - 675.5px);
}
.verified-recruiters {
  position: absolute;
  top: 58px;
  left: 0;
  font-size: 25px;
  display: flex;
  align-items: flex-end;
  width: 263px;
}
.div24 {
  position: absolute;
  top: -23px;
  left: calc(50% - 285.5px);
  font-weight: 900;
}
.jobs-posted {
  top: 58px;
  left: 432px;
  font-size: 25px;
  display: flex;
  align-items: flex-end;
  width: 263px;
}
.job-seekers,
.jobs-posted,
.m {
  position: absolute;
}
.m {
  top: -23px;
  left: calc(50% + 104.5px);
  font-weight: 900;
}
.job-seekers {
  top: 58px;
  left: 828px;
  font-size: 25px;
  display: flex;
  align-items: flex-end;
  width: 263px;
}
.div25 {
  position: absolute;
  top: -23px;
  left: calc(50% + 494.5px);
  font-weight: 900;
}
.retention-ratio {
  position: absolute;
  top: 58px;
  left: 1188px;
  font-size: 25px;
  display: flex;
  align-items: flex-end;
  width: 263px;
}
.admin-panel-settings-black-24d-icon {
  position: absolute;
  top: -120px;
  left: 60px;
  width: 92px;
  height: 92px;
  overflow: hidden;
}
.frame-icon1,
.frame-icon2,
.security-black-24dp-1-icon {
  position: absolute;
  top: -107px;
  left: 1234px;
  width: 64px;
  height: 64px;
  overflow: hidden;
}
.frame-icon1,
.frame-icon2 {
  height: 55%;
  width: 5.09%;
  top: -92.5%;
  right: 35.59%;
  bottom: 137.5%;
  left: 59.32%;
  max-width: 100%;
  max-height: 100%;
}
.frame-icon2 {
  height: 57.5%;
  width: 6.07%;
  top: -87.5%;
  right: 62.74%;
  bottom: 130%;
  left: 31.19%;
}
.content {
  position: absolute;
  top: 317px;
  left: 95px;
  width: 1433px;
  height: 120px;
  font-size: 53px;
}
.square-pattern-blue-2-icon,
.square-pattern-blue-3-icon {
  position: absolute;
  top: 491px;
  left: -10px;
  width: 137px;
  height: 136px;
  overflow: hidden;
}
.square-pattern-blue-3-icon {
  top: 132px;
  left: 1527px;
}
.our-platform {
  position: absolute;
  top: 2181px;
  left: calc(50% - 828px);
  border-radius: 50px;
  background-color: #0d1361;
  width: 1656px;
  height: 465px;
  overflow: hidden;
  font-size: 25px;
}
.our-key-features-child {
  position: absolute;
  top: -14px;
  left: -194px;
  background-color: #f4f5fe;
  width: 2065px;
  height: 982px;
  display: none;
}
.our-key-features-item {
  position: absolute;
  height: 19.61%;
  width: 8.18%;
  top: 80.39%;
  right: 91.82%;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: #ffeff2;
}
.square-pattern-blue-3-icon1,
.square-pattern-blue-4-icon {
  position: absolute;
  top: 0;
  left: 28px;
  width: 137px;
  height: 136px;
  overflow: hidden;
}
.square-pattern-blue-4-icon {
  top: 623px;
  left: 1587px;
}
.image-8-icon1,
.our-key-features-inner {
  position: absolute;
  border-radius: 50px 0 0 50px;
}
.image-8-icon1 {
  height: 84.84%;
  width: 29.53%;
  top: 7.25%;
  right: 67.15%;
  bottom: 7.91%;
  left: 3.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.our-key-features-inner {
  top: 61px;
  left: 68px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(9, 13, 67, 0.71) 45.35%,
    rgba(6, 9, 53, 0.14)
  );
  width: 595px;
  height: 720px;
}
.image-9 {
  position: absolute;
  height: 84.84%;
  width: 29.53%;
  top: 7.25%;
  right: 66.55%;
  bottom: 7.91%;
  left: 3.91%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
.hr-referral-contract {
  position: absolute;
  top: 143px;
  left: 33px;
  font-weight: 900;
}
.relax-and-leave {
  position: absolute;
  top: 201px;
  left: 33px;
  font-size: 25px;
  color: #242853;
  display: flex;
  align-items: flex-end;
  width: 461px;
}
.learn-more1 {
  position: absolute;
  top: -7px;
  left: -7px;
  text-decoration: underline;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 800;
  background: linear-gradient(180deg, #e83251, #e9456d);
  -webkit-background-clip: text;
    background-clip: text; /* standard property */
    color: transparent;
}
.btn-arrowsvg-icon {
  position: absolute;
  top: calc(50% - 19px);
  left: calc(50% + 43.15px);
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.learn-more {
  position: absolute;
  top: 307px;
  left: 43px;
  border-radius: 300px;
  width: 113.7px;
  height: 24px;
  font-size: 20px;
}
.frame-icon3 {
  position: absolute;
  top: 41px;
  left: 42px;
  width: 72px;
  height: 72px;
  overflow: hidden;
}
.div26 {
  position: absolute;
  top: 310px;
  left: calc(50% - 636px);
  border-radius: 37px;
  background-color: #fff;
  border: 1px solid #e1e3f4;
  box-sizing: border-box;
  width: 534px;
  height: 374px;
}
.learn-more2 {
  position: absolute;
  top: 308px;
  left: 43px;
  border-radius: 300px;
  width: 113.7px;
  height: 24px;
  font-size: 20px;
}
.frame-icon4 {
  position: absolute;
  top: 40px;
  left: 36px;
  width: 74px;
  height: 74px;
  overflow: hidden;
}
.div27 {
  position: absolute;
  top: 310px;
  left: calc(50% - 80px);
  border-radius: 37px;
  background-color: #fff;
  border: 1px solid #e1e3f4;
  box-sizing: border-box;
  width: 534px;
  height: 374px;
}
.frame-icon5,
.frame-icon6 {
  position: absolute;
  overflow: hidden;
}
.frame-icon5 {
  top: 36px;
  left: 33px;
  width: 84.2px;
  height: 84.2px;
  display: none;
}
.frame-icon6 {
  height: 20.43%;
  width: 14.29%;
  top: 10.22%;
  right: 79.51%;
  bottom: 69.35%;
  left: 6.2%;
  max-width: 100%;
  max-height: 100%;
}
.div28 {
  position: absolute;
  top: 310px;
  left: calc(50% + 476px);
  border-radius: 37px;
  background-color: #fff;
  border: 1px solid #e1e3f4;
  box-sizing: border-box;
  width: 534px;
  height: 374px;
}
.make-your-recruitment-container {
  position: absolute;
  top: 161px;
  left: 739px;
  font-size: 25px;
  color: #242853;
}
.our-key-features1 {
  position: absolute;
  top: 85px;
  left: 739px;
  font-size: 40px;
  font-weight: 900;
}
.tracker1 {
  position: absolute;
  top: 741px;
  left: 1193px;
  width: 96px;
  height: 10px;
}
.our-key-features {
  position: absolute;
  top: 1264px;
  left: 85px;
  width: 2018px;
  height: 848.4px;
  font-size: 29px;
  color: #080f5e;
}
.banner-child {
  position: absolute;
  height: 11.11%;
  width: 4.84%;
  top: 91.16%;
  right: 95.89%;
  bottom: -2.27%;
  left: -0.73%;
  border-radius: 50%;
  background-color: #ffeff2;
}
.background-icon,
.background-icon1 {
  position: absolute;
  top: -10px;
  left: calc(50% - 967px);
  width: 2194px;
  height: 948px;
  object-fit: cover;
}
.background-icon1 {
  top: 938px;
  height: 88px;
}
.banner-inner,
.banner-item {
  position: absolute;
  top: -22px;
  left: -14px;
  width: 1970px;
  height: 1045px;
}
.banner-item {
  background: linear-gradient(
    180deg,
    rgba(13, 19, 97, 0.6),
    rgba(7, 10, 56, 0.43)
  );
  display: none;
}
.banner-inner {
  background: radial-gradient(
    50% 50%at 50% 50%,
    rgba(9, 13, 67, 0.77) 45.35%,
    rgba(6, 9, 53, 0.35)
  );
}
.join-with-us2,
.talents-explore-the,
.to-get-hired {
  position: absolute;
  top: 278.9px;
  left: 0;
  font-size: 20px;
}
.join-with-us2,
.to-get-hired {
  top: 248px;
  left: 0.3px;
}
.to-get-hired {
  top: 100.9px;
  left: 0;
  font-size: 70px;
  font-weight: 900;
}
.left-content-child {
  position: absolute;
  height: 0.73%;
  width: 80.37%;
  top: 48.54%;
  right: 19.58%;
  bottom: 50.73%;
  left: 0.06%;
  background-color: #fff;
}
.hire-walks,
.walk-in-with2 {
  position: absolute;
  font-weight: 900;
}
.walk-in-with2 {
  top: 21.9px;
  left: 0;
  font-size: 70px;
}
.hire-walks {
  top: -15px;
  left: 158.3px;
}
.left-content-item {
  position: absolute;
  height: 15.05%;
  width: 38.9%;
  top: 84.95%;
  right: 22.57%;
  bottom: 0;
  left: 38.53%;
  border-radius: 15px;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.post-jobs-for {
  position: absolute;
  top: 368.9px;
  left: 237px;
  font-weight: 900;
}
.left-content-inner {
  position: absolute;
  height: 7.28%;
  width: 27.52%;
  top: -4.61%;
  right: 72.42%;
  bottom: 97.33%;
  left: 0.06%;
  border-radius: 6px;
  background-color: #fff;
}
.introducing {
  position: absolute;
  top: -14px;
  left: 17.3px;
  font-size: 16px;
  font-weight: 900;
  color: #080f5e;
}
.left-content-child1 {
  position: absolute;
  height: 15.05%;
  width: 33.21%;
  top: 84.95%;
  right: 66.73%;
  bottom: 0;
  left: 0.06%;
  border-radius: 15px;
  background: linear-gradient(180deg, #e83251, #e9456d);
}
.search-jobs1 {
  position: absolute;
  top: 368.9px;
  left: 36px;
  font-weight: 900;
}
.left-content {
  position: absolute;
  top: 268px;
  left: 155px;
  width: 545px;
  height: 412px;
}
.right-image-child {
  position: absolute;
  height: 20.3%;
  width: 15.77%;
  top: 50.06%;
  right: 84.23%;
  bottom: 29.64%;
  left: 0;
  border-radius: 50%;
  background-color: #ffeff2;
}
.image-8-icon2 {
  position: absolute;
  height: 128.41%;
  width: 91.01%;
  top: -20.17%;
  right: 0;
  bottom: -8.24%;
  left: 8.99%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.right-image-item {
  position: absolute;
  top: -5px;
  left: 94px;
  background: linear-gradient(
    180deg,
    rgba(13, 19, 97, 0.5),
    rgba(7, 10, 56, 0.17)
  );
  width: 952px;
  height: 885px;
}
.right-image {
  position: absolute;
  top: -3px;
  left: 874px;
  width: 1046px;
  height: 813px;
  display: none;
}
.banner-img-2-2-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 533px;
  height: 525px;
  object-fit: cover;
}
.frame-child {
  position: absolute;
  top: 217px;
  left: 198px;
  border-radius: 50%;
  background-color: #fff;
  width: 68px;
  height: 68px;
}
.image-3-icon1 {
  position: absolute;
  top: 231px;
  left: 214px;
  width: 38px;
  height: 37px;
  object-fit: cover;
}
.banner-child1,
.banner-img-2-2-parent {
  position: absolute;
  top: 191px;
  left: 1241px;
  width: 533px;
  height: 525px;
}
.banner-child1 {
  top: 117px;
  left: 832px;
  background: linear-gradient(180deg, #e83251, #e9456d);
  width: 61px;
  height: 2px;
}
.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1016px;
}
.trusted-companies-child {
  position: absolute;
  top: 64px;
  left: -28px;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0 7px 6px rgba(8, 15, 94, 0.07);
  width: 1647px;
  height: 366px;
}
.connecting-people-optimizing1 {
  position: absolute;
  top: 163px;
  left: 401px;
  display: flex;
  align-items: flex-end;
  width: 794px;
}
.trusted-by-200 {
  position: absolute;
  top: 96px;
  left: 383px;
  font-size: 42px;
  font-weight: 900;
  color: #080f5e;
}
.child15 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d4d7e2;
  box-sizing: border-box;
  width: 267px;
  height: 100.5px;
}
.image-14-icon {
  position: absolute;
  top: 24.7px;
  left: 67px;
  width: 128.7px;
  height: 46.6px;
  object-fit: cover;
}
.child16,
.div36 {
  position: absolute;
  top: 249.8px;
  left: 30px;
  width: 267px;
  height: 100.5px;
}
.child16 {
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d4d7e2;
  box-sizing: border-box;
  width: 265.8px;
  height: 100px;
}
.image-15-icon {
  position: absolute;
  top: 36px;
  left: 44.7px;
  width: 191.2px;
  height: 37.7px;
  object-fit: cover;
}
.child17,
.div37 {
  position: absolute;
  top: 250px;
  left: 339.6px;
  width: 265.8px;
  height: 100px;
}
.child17 {
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d4d7e2;
  box-sizing: border-box;
  width: 259px;
  height: 97.4px;
}
.image-15-icon1 {
  position: absolute;
  top: 35px;
  left: 43.6px;
  width: 186.3px;
  height: 36.8px;
  object-fit: cover;
}
.child18,
.div38 {
  position: absolute;
  top: 251.3px;
  left: 1002px;
  width: 259px;
  height: 97.4px;
}
.child18 {
  top: 0;
  left: 0;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #d4d7e2;
  box-sizing: border-box;
  width: 269px;
  height: 101.2px;
}
.image-15-icon2 {
  position: absolute;
  top: 36.4px;
  left: 45.3px;
  width: 193.5px;
  height: 38.2px;
  object-fit: cover;
}
.child19,
.div39 {
  position: absolute;
  top: 249.4px;
  left: 1301px;
  width: 269px;
  height: 101.2px;
}
.child19 {
  top: 23.4px;
  left: 0;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #9c9fca;
  box-sizing: border-box;
  width: 285px;
  height: 107.2px;
}
.image-16-icon {
  position: absolute;
  top: 0;
  left: 44.2px;
  width: 220.1px;
  height: 146.7px;
  object-fit: cover;
}
.div40,
.tracker2 {
  position: absolute;
  top: 222.6px;
  left: 663px;
  width: 285px;
  height: 146.7px;
}
.tracker2 {
  top: 386px;
  left: 747px;
  width: 96px;
  height: 10px;
}
.trusted-companies {
  position: absolute;
  top: 742px;
  left: 175px;
  width: 1590px;
  height: 323px;
  font-size: 25px;
  color: #242853;
}
.contact-us1,
.search-jobs2 {
  position: absolute;
  top: 1px;
  left: 297.5px;
  font-weight: 800;
}
.search-jobs2 {
  left: 125.7px;
}
.recruiters {
  top: 1px;
  left: -24.3px;
  font-weight: 800;
}
.home,
.menu,
.recruiters {
  position: absolute;
}
.home {
  top: 0;
  left: -150px;
  font-weight: 900;
  color: #e93c60;
}
.menu {
  top: 11px;
  left: 468.3px;
  width: 400.5px;
  height: 32px;
  font-size: 20px;
}
.login-as-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 13px;
  background: linear-gradient(180deg, #e83251, #e9456d);
  width: 155px;
  height: 57px;
}
.login-as1 {
  position: absolute;
  top: 14px;
  left: 29px;
  font-weight: 900;
}
.vector-icon37 {
  position: absolute;
  height: 11.58%;
  width: 7.1%;
  top: 43.86%;
  right: 18.06%;
  bottom: 44.56%;
  left: 74.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.login-as,
.signup-as-child {
  position: absolute;
  top: 0;
  left: 1121.3px;
  width: 155px;
  height: 57px;
}
.signup-as-child {
  left: 0;
  border-radius: 13px;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.signup-as1 {
  position: absolute;
  top: 15px;
  left: 22px;
  font-weight: 900;
}
.vector-icon38 {
  position: absolute;
  height: 11.58%;
  width: 7.1%;
  top: 45.61%;
  right: 17.42%;
  bottom: 42.81%;
  left: 75.48%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.signup-as {
  position: absolute;
  top: 0;
  left: 924.3px;
  width: 155px;
  height: 57px;
}
.logo-child {
  height: 41.93%;
  width: 65.26%;
  top: 30.17%;
  right: -4.05%;
  bottom: 27.9%;
  left: 38.79%;
  display: none;
}
.logo-child,
.vector-icon39,
.vector-icon40,
.vector-icon41 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon39 {
  height: 114.31%;
  width: 27.92%;
  top: -8.78%;
  right: 68.79%;
  bottom: -5.52%;
  left: 3.29%;
  display: none;
}
.vector-icon40,
.vector-icon41 {
  height: 21.53%;
  width: 5.26%;
  top: 0;
  right: 76.09%;
  bottom: 78.47%;
  left: 18.65%;
}
.vector-icon41 {
  height: 44.05%;
  width: 11.31%;
  top: 51.7%;
  right: 87.65%;
  bottom: 4.25%;
  left: 1.04%;
}
.vector-icon42,
.vector-icon43,
.vector-icon44,
.vector-icon45,
.vector-icon46 {
  position: absolute;
  height: 30.17%;
  width: 7.09%;
  top: 69.97%;
  right: 85.81%;
  bottom: -0.14%;
  left: 7.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon43,
.vector-icon44,
.vector-icon45,
.vector-icon46 {
  height: 29.04%;
  width: 7.37%;
  top: 45.18%;
  right: 91.31%;
  bottom: 25.78%;
  left: 1.31%;
}
.vector-icon44,
.vector-icon45,
.vector-icon46 {
  height: 64.59%;
  width: 17.09%;
  top: 18.27%;
  right: 79.24%;
  bottom: 17.14%;
  left: 3.67%;
}
.vector-icon45,
.vector-icon46 {
  height: 15.01%;
  width: 4.22%;
  top: 25.78%;
  right: 95.78%;
  bottom: 59.21%;
  left: 0;
}
.vector-icon46 {
  height: 16.15%;
  width: 3.43%;
  top: 81.73%;
  right: 80.28%;
  bottom: 2.12%;
  left: 16.3%;
}
.hire-walks1 {
  position: absolute;
  top: 15px;
  left: 94px;
  font-weight: 900;
  display: flex;
  align-items: flex-end;
  width: 195px;
  height: 52px;
}
.logo {
  position: absolute;
  height: 123.86%;
  width: 22.64%;
  top: -14.04%;
  right: 106.4%;
  bottom: -9.82%;
  left: -29.04%;
  font-size: 32px;
}
.header-child {
  position: absolute;
  top: 88.5px;
  left: -520.2px;
  max-height: 100%;
  width: 1920.5px;
}
.header {
  position: absolute;
  top: 31px;
  left: 517.7px;
  width: 1276.3px;
  height: 57px;
}
.landing-final {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 6144px;
  overflow: hidden;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-family: Avenir;
}
